@import "tailwindcss";
@tailwind utilities;


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;

  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  } (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes pulseFade {
  0%, 100% {
    background-color: black;
  }
  50% {
    background-color: #FFD230;
  }
}

@keyframes slideIcon {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(120vw);
  }
}

.animate-slide-icon {
  animation: slideIcon 60s linear forwards;
}

.scrollButtonBG {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
}